KOKORO_SERVE_PORT=9000
KOKORO_SERVE_MODEL_REPO=hexgrad/Kokoro-82M
KOKORO_SERVE_DEVICE=auto
KOKORO_SERVE_MAX_INPUT_CHARS=4096
KOKORO_SERVE_MAX_CONCURRENCY=0
KOKORO_SERVE_TORCH_NUM_THREADS=0
KOKORO_SERVE_DYNAMIC_CONCURRENCY=true
KOKORO_SERVE_RESOURCE_CHECK_SECONDS=5
KOKORO_SERVE_MP3_QUALITY=0
KOKORO_SERVE_RESOURCE_RESERVE_FRACTION=0.25
KOKORO_SERVE_RESERVE_MEMORY_MB=2048
KOKORO_SERVE_RESERVE_VRAM_MB=1536
